
:root {
	--green-color: #56b9b5;
	--blue-color-1: #376da8;
	--blue-color-2: #243e71;
	--blue-color-3: #2e325d.;
}

body {
  background-color: red;
  color: white; }

#demo {
  width: 300px;
  height: 160px;
  padding: 8px;
}

#wrapper {
  position: relative;
  width: 300px;
  height: 160px;
}

@keyframes stripeanimation {
  0% {
    fill: var(--green-color); }
  25% {
    fill: var(--blue-color-1); }
  50% {
    fill: var(--blue-color-2); }
  75% {
    fill: var(--blue-color-3); }
}
    
.animate1 {
  animation-name: stripeanimation;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }
  
.animate2 {
  animation-name: stripeanimation;
  animation-duration: 8s;
  animation-delay: .8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
  
.animate3 {
  animation-name: stripeanimation;
  animation-duration: 8s;
  animation-delay: 1.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
  
.animate4 {
  animation-name: stripeanimation;
  animation-duration: 8s;
  animation-delay: 1.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}