
:root {
	--main-color: #79cde5;
	--primary-color: #4077b2;
	--secondary-color: #083868;
	--color4: #059c93;
}

body {
  background-color: red;
  color: white; }

#demo {
  width: 300px;
  height: 160px;
  padding: 8px;
}

#wrapper {
  position: relative;
  width: 300px;
  height: 160px;
}

@keyframes stripeanimation {
  0% {
    fill: var(--main-color); }
  25% {
    fill: var(--primary-color); }
  50% {
    fill: var(--secondary-color); }
  75% {
    fill: var(--color4); }
}
    
.animate {
  animation-name: stripeanimation;
  animation-duration: 10s;
  animation-delay: .5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }
  
.animate2 {
  animation-name: stripeanimation;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}