:root {
  --main-color: red;
  --primary-color: red;
  --secondary-color: green; }

body {
  background-color: red;
  color: white; }

#demo {
  width: 300px;
  height: 160px;
  background-color: #333;
  padding: 8px;
  background-color: var(--main-color); }

#wrapper {
  position: relative;
  width: 300px;
  height: 160px; }

#stripe_3 {
  fill: var(--primary-color); }

.end {
  fill: #56ef65; }
