
// CSS variable: https://developers.google.com/web/updates/2016/02/css-variables-why-should-you-care

/*
:root {
	--main-color: red;
	--primary-color: #fff22a;
	--secondary-color: green;
}
*/


body{
  background-color:red;
  color:white;
}
#demo {
  width: 300px;
  height: 160px;	
  background-color: #333;
  padding: 8px;
  background-color: var(--main-color);
}
#wrapper {
  position: relative;
  width: 300px;
  height: 160px;
}





// CSS animation
// https://www.safaribooksonline.com/library/view/svg-animations/9781491939697/ch02.html#animating_with_css

	// First define keyframes

@keyframes stripe3animation {
	0% {
		fill: white;
	}
	
	50% {
		fill: red;
	}
	
	100% {
		fill: black;
	}
}

.animate {
	animation-name: stripe3animation;
	animation-duration: 5s;
	animation-delay: .5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

