body{
  background-color:red;
  color:white;
}
#demo {
  width: 692px;
  height: 60px;	
  background-color: #333;
  padding: 8px;
}
#wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

#stripe_3 {
	fill: red;
}